/* Styles for LGC charts
 * NOTES
 */

$prose-max-width: 50em;
$wide-chart-max-width: 75em;
$aspect: 80%;

/* ===== General chart styles ===== */

.howto-header {
  color: #c33;
  font-weight: bold;
}
#chart-wrap {
  font-size: .888em;
  margin-bottom: 10px;
  max-width: $prose-max-width;
  padding-bottom: 1em;
  position: relative;
  width: 100%;
}
.table #chart-wrap {
  max-width: $wide-chart-max-width;
}
#controls {
  padding: 0 .5em;
}
#controls {
    float: left;
    position: absolute;
    position: relative;
}
#controls a {
    color: #444;
    text-decoration: none;
}
#controls label {
    float: left;
    clear: both;
    margin: 4px 0 -2px 0;
}
#legend {
  overflow: hidden;
  padding-left: 20px;
}
#legend ul {
  padding: 0;
}
#legend li {
  margin-bottom: 2px;
  white-space: nowrap;
}
.legend {
  line-height: 14px;
  background: #fff;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  clear: left;
  margin-right: 8px;
  border-radius: 5px;
}
.legend p {
  margin: 0px;
  padding: 4px;
}

#chart {
  clear:both;
  float:left;
  position: relative;
  width: 100%;
  margin: .5em 0;
}
#svgchart {
  position: relative;
  width: 100%;
  line-height: normal;
  /* for responsive SVG; see: demosthenes.info/blog/744/Make-SVG-Responsive */
  display: inline-block;
  vertical-align: middle;
  padding-bottom: $aspect;
  /*overflow: auto;*/
}
#graph {
  float: left;
  clear: left;
  position: relative;
  overflow-y: scroll;
  width: 100%;
}
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#axisbar {
  position: relative;
  float: left;
  clear: left;
  width: 100%;
  height: 20px;
}
#axis {
  position: relative;
  overflow: auto;
  height: 18px; /* barWidth + 2px */
}
#axislabel {
  float: left;
  width: 10em;
  /*font-size: .888em;*/
  height: 18px; /* barWidth + 2px */
}
.axisdata {
  position: absolute;
  height: 18px; /* barWidth + 2px */
  overflow: auto;
  border-bottom: 1px solid #bcb;
}

/* ===== Review ===== */

#visualization .dataTable {
  font-size: 1em;
}

.bar {
  height: 24px;
  left: 0;
  overflow: auto;
  width: 100%;
}
.bar:hover .barlabel {
  background: #ddd;
}
.barlabel,
.segment {
  border-bottom: 1px solid #bcb;
  box-sizing: border-box;
  float: left;
  height: 16px; /* matches barWidth */
  opacity: 1.0;
  position: relative;
}
.barlabel {
  background: #fff;
  border-bottom: none;
  padding-right: 0.5em;
  width: 11em;
  text-align: right;
}
.segment.proposed {
  border-bottom: none;
}
.bardata {
  overflow: auto;
  position: relative;
}
.mouse {
  border: 2px solid #333;
}

.marker {
  display: inline-block;
  margin-right: 10px;
  width: 1em;
}

/* ----- Colors for Form of Government ----- */

/* Blue-gold scheme */
.Com, .ComPO { background: #dedeff; }
.ComA, .ComEx { background: #b5b5ff; }
.ComC, .ComExA { background: #7575c7; }
.ComExC { background: #3b3b8d; }

.Mgr { background: #ffff7f; }
.MgrA { background: #fff84d; }
.MgrC { background: #ffde33; }
.TMC { background: #f8ab00; }

.Noproposal { background: #666; }
.NA { background: #aaa; }

.star { /* background texture? */ }

/* ===== Historical Multiline Charts ===== */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.x.axis path {
}

path, line {
  vector-effect: non-scaling-stroke;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.y.axis, .line-label {
  /*font-size: .888em;*/
  font-weight: bold;
}

/* Forms */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

button,
select {
    text-transform: none;
}

.selection {
  overflow: auto;
  float: left;
  border: 1px solid #aaa;
  background-color: #e8e8e8;
}

.page-template-page-historical-php .selection {
  overflow: auto;
  float: left;
  border: 1px solid #aaa;
  background-color: #eff;
}

.selection .field {
  float: left;
  padding: 5px;
  background-color: #eff;
}
.selection .year {
  float: left;
  padding: 5px;
  background-color: #e8e8e8;
}
.selection .name {
  float: left;
  padding: 5px;
  background-color: #e8e8e8;
}

select {
  display: block;
  float: left;
  clear: left;
  margin: 5px 0;
}
option[disabled="disabled"] {
  color: #888;
}

/* ----- comparison bar charts ---------------------- */

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
table th {
  font-weight: normal;
  text-align: right;
  padding-right: 6px;
  min-width: 43px;
}

table thead,
table thead th {
  font-weight: bold;
}

table thead th,
table thead td {
  cursor: s-resize;
}

table tbody tr:first-child td {
  padding-top: 2px;
}

#chart-div {
  overflow-y: scroll;
}
.scale-wrap {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 3px;
}
.scale {
  border-right: 1px solid #000;
  font-weight: normal;
  text-align: right;
  padding-bottom: 3px;
}
th .scale-wrap,
th .scale {
  border: none;
}
thead th,
thead td {
  text-align: center;
  vertical-align: bottom;
}
#chart-header,
#chart-table {
  table-layout: fixed;
}
#chart-table tbody td {
  padding: 0;
  border-left: solid 1px #000; /* axis for comparison charts */
}

table tbody .bardiv {
  background: steelblue;
}

table tbody tr:hover th {
  background: #f8c0c0;
}
table tbody tr:hover .bardiv {
  background: brown;
}

/* ===== Map charts ===== */

#map {
  width: 100%;
  height: 500px;
  background: #fff;
}

.leaflet-control-attribution {
  display: none;
}

#map-info {
  background: white;
  border: 1px solid #333;
  color: #000;
  display: none;
  opacity: 0.9;
  filter: alpha(opacity = 90);
  padding: 6px 8px;
  position: absolute;
  text-align: left;
  z-index: 10000;
}
#map-info span {
  color: #b75;
}
#map-info table {
  width: 1px;
}
#map-info .info-name,
#map-info .col-name,
#map-info .col-val {
  white-space: nowrap;
  width: 1px;
}
#map-info .close {
  background: #bbb;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  display: inline-block;
  height: 1em;
  position: absolute;
  right: 0px;
  text-align: center;
  vertical-align: middle;
  top: 0px;
  width: 1.2em;
}
.info-name {
  color: #036; /* darker than $banner-blue, looks ~same */
  font-weight: bold;
  text-align: center;
}
.col-name {
  font-style: italic;
}
.col-val {
  min-width: 6em;
  text-align: right;
}
#info {
  width: 900px;
}

.tooltip {
  background: #fff;
  border: 2px solid #888;
  padding: 0 0.25em;
  position: absolute;
}
