/* Notes
 * SASS: use $variables, @import, @mixin, @extend 
 * Logo may not match $banner-blue.
 * 
*/

@import "base";
@import "charts";
@import "dataTables.colVis";
@import "dataTables.fixedColumns";

/* ===== Override dataTables css ===== */
div.ColVis {
  float: left;
  padding: .5em;
}
ul.ColVis_collection {
  width: auto;
}
.dataTable th {
  vertical-align: middle;
}

/* Indicate fixed column */
.DTFC_LeftBodyWrapper {
  border-right: 3px solid #888;
}
/* Darker icon */
.sorting {
  background: url('/images/sort_both.png') no-repeat center right;
}

$banner-blue: #003f7f; /* = dark blue @ msulocalgov.org */
$yellow: #eeba39;
$prose-max-width: 45em;

body {
  font-size: 18px;
}

#main h1 {
    font-size: 2em;
    font-weight: normal;
    font-size: 24px;
    font-weight: bold;
    color: #003f7f;
}
#main h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin: .5em .5em .5em 0;
}
#main h3 {
    font-size: 1.3em;
    font-weight: normal;
}
#main h4 {
    font-size: 1.2em;
    font-weight: normal;
}

#wrapper {
  max-width: 1200px;
  margin: 0 0.5em;
}
#masthead {
  margin-top: 0;
  padding: 0;
  background: #003f7f;
}
#banner {
  background: $banner-blue;
  overflow: hidden;
  position:relative;
  margin: 0 0.5em;
}
#msu-logo {
  float: left;
  /*
  margin: 0 15px 0 0;
  padding: 2px 10px 25px 10px;
  border-right: 1px solid #fff;
  */
}
#site-title {
  padding-top: 1em;
}
#site-title a {
  color: #fff;
  display: inline;
  font-size: 1.75em;
  font-weight: normal;
  letter-spacing: 1px;
}
#site-desc a {
  position: absolute;
  top: 52px;
  left: 7px;
  font-size: 15px;
  color: #fff;
}
#site-description a {
  font-size: 12px;
  color: #fff;
}
 
header {
  overflow: hidden;
}
nav ul {
  list-style-type: none;
}
nav li a {
  float: left;
}

#banner a {font-size: 12px;}

#navigation, #headnav{position:absolute; right:241px; top:16px; text-align:left; display:inline; width:225px}
.navlink, .navlinknoborder{position:relative; left:0px; top:0px; text-align:left; float:right; padding:5px 7px 5px 7px; border-right:0; border-top:0; border-bottom:0; border-left:1px solid; ; border-color:#fff}
.navlinknoborder{ border-left:0}
#navigation a, #headnav a{text-decoration:none; color:#fff; font-weight:bold; padding:10px 5px 10px 5px}
#navigation a:hover, #headnav a:hover{text-decoration:underline}
.search{display:inline; position:absolute; right:90px; top:22px; color:#003f7f; white-space:nowrap}
.searchbox{color:#003f7f; vertical-align:middle; font-size:11px; }
.searchbtn{margin-left:7px; vertical-align:middle}


#crumbnav{margin:0px; padding:15px 20px 10px 0px; }
#crumbnav a{text-decoration:none; color:#555}
#crumbnav a:hover{text-decoration:underline; color:#003f7f}

#left{padding:2px 15px 10px 0px; float:left; width:170px; text-align:left; border-right:1px #c4a62e solid}
#sidebar .links{font-weight:bold; font-size:.95em; border-bottom:1px #c4a62e solid; padding:0px 0px 10px 0px; position:relative; width:170px; top:0px; left:0px}
#sidebar .links h2{margin:8px 0px 4px 0px; font-size:13px; font-weight:bold; color:#003f7f; padding:0px}
#sidebar .links h3{font-size:11px; font-weight:bold; display:inline; margin:0px; color: #003f7f; padding:1px 3px 1px 0px}
#sidebar .links a{font-weight:normal; font-family:Arial,Helvetica,sans-serif; list-style:outside; margin-left:0px; margin-top:1px; padding:2px 0px 1px 0px; display:block; text-decoration:none}
#sidebar .links h2 a{font-weight:bold; color:#003f7f}
#sidebar .links a:hover{text-decoration:underline}
#sidebar .links ul{list-style:none; padding:0px 0px 0px 0px; margin:0px; width:170px}
#sidebar .links ul li a{display:inline-block}
#sidebar .links a img{padding:0px; text-indent:0px; margin:0px}

/* Contact box */
.goldrule{margin-top:10px}
#sidebar #contact{margin-top:15px; font-weight:normal; position:relative; text-decoration:none; line-height: 15.1px; }
#sidebar #contact p{padding:0px 0px 10px 0px; margin:0px}
#sidebar #contact a{color:#555; text-decoration:underline}
#sidebar #contact h2{margin:0px; padding:0px; font-size:11px; font-weight:bold; color:#003f7f; }j

#crumbnav,
#crumbnav a,
#crumbnav .crumb,
#sidebar,
#sidebar a {
  font-size: 11px;
  font-weight: normal;
}

#content {
  max-width: $prose-max-width;
  margin: 0;
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

#page {
  position: relative;
  padding: 0;
  /* max-width: 1200px; */
  margin: auto;
  /* margin: 0 0.5em; */
}
#main {
  position: relative;
  width: 100%;
  margin: 0;
  background: rgba(255, 255, 255, 0.4);
}

#glossary-button {
  /*
  background: #ee6;
  right: 0;
  top: 0;
  */
  background: #003f7f;
  color: #fff;
  padding: .25em;
  position: fixed;
  right: 10px;
  text-align: center;
  top: 10px;
  right: 5px;
  width: 5em;
  z-index: 100;
  font-size:14px;
  border:1px solid #fff;
}
#glossary {
  background: #fff;
  border: 0.5em solid #ee6;
  bottom: 0px;
  display: none;
  line-height: 1.4;
  margin-left: 1em;
  max-width: $prose-max-width;
  overflow-y: scroll;
  padding: 1em;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10;
}
.glossary-item {
  margin-bottom: 1em;
}
#glossary .term {
  background: #ddf;
  padding: .25em;
}
#gloss {
  background: #fff;
  border: 5px solid #003f7f;
  border-radius: 3px;
  display: none;
  max-width: $prose-max-width;
  padding: 0 0.3em;
  position: fixed;
  right: 10%;
  top: 20px;
  text-align: left;
  vertical-align: middle;
  width: 80%;
  z-index: 10000; 
}

.datatip {
  background: #fff;
  border: 1px solid #666;
  border-radius: 3px;
  display: inline-block;
  font-size: .889em;
  padding: 0 0.3em;
  position: absolute;
  text-align: left;
  vertical-align: middle;
  z-index: 1000;
}

#about-the-data {
  display: none;
  position: absolute;
}

#ToolTables_visualization_2,
#ToolTables_visualization_3 {
  display: none;
}

ul, ul li { list-style: none; }

/* ===== Responsive navigation style ============== */

.container { max-width: 100%; margin: 0px auto; overflow: hidden; width: 100%; }

.nav, .main_content { 
  -webkit-transition: .2s all ease;
  -moz-transition: .2s all ease;
  transition: .2s all ease; 
  width: 100%; 
}

.menu_container, .footer { clear:both; overflow: hidden; background-color: #fff; }
.footer { padding: 0.8em 0; }
.menu_container, .anchor-link { display: none; }
.menu_container { border-bottom: 1px solid $banner-blue; }
.anchor-link { font-weight: bold; padding: 1em; text-align: right; text-decoration: none; background-color: #48c9b0; color: #fff; float: right; }
.anchor-link:hover { background-color: #ccc; color: #fff; }

.nav { width:100%; border-bottom: 1px solid $banner-blue; }
.nav ul { list-style: none; padding: 2px; margin: 0px; font-weight: bold; text-align: left; }
.nav ul li { display: inline-block; vertical-align: middle; text-align: left; }
.nav ul li a { display: block; padding: .25em .5em; text-decoration: none; color: $banner-blue; }
.nav ul li a:hover { background-color: $yellow; }
.nav ul li a:hover { background-color: $banner-blue; color: #fff; }

/* ===== Grid ===================================== */

/* Dead Simple Grid https://github.com/mourner/dead-simple-grid */

.col {
  float: left;
  /* width: 100%;
  padding: 0 1.5em; */
}
.row .row {
  margin: 0 -1.5em;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

/* ===== Media Queries ============================ */

@media only screen and (max-width:48.000em){
  
  body {
    font-size: 16px;
  }

  #headnav,
  .search {
    display: none;
  }
 /* 
  .menu_container, .anchor-link { display: block; }
  
  .nav { margin-left: -100%; float: left;}
  .main_content { margin-left: 0; float: left; }
  
  font-size: 16px;

  body.active .nav { margin-left: 0; width:60%; }
  body.active .main_content { margin-right: -100%; }
  
  .nav { padding: 0.6em 0; border: none; padding: 0; }
  .nav ul { text-align: left; font-weight: normal; }
  .nav ul li { display: block; }
  .nav ul li a { border-bottom: 1px solid #3E3E3E; border-top: 1px solid #717171; color: #ffffff; padding: 12px; }
  .nav ul li a:hover { background-color:#5C5C5C; }
 */ 
}

@media only screen and (max-width:800px){
  #sidebar { display: none; }
}

/* Set widths when sidebar is present */
@media only screen and (min-width: 48em) {
  .has-sidebar #content { width: 75%; }
  .has-sidebar #sidebar { width: 25%; }
}
